<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1 style="text-align:Center;">Diabetes Report:</h1>
<h2>Name:</h2>
<p>{{user.name}}</p>
<h2>Phone Number</h2>
<p>{{user.phone_number}}</p>
<h2>Age</h2>
<p>{{Age}}</p>
<h2>Pregnancies</h2>
<p>{{Pregnancies}}</p>
<h2>Glucose</h2>
<p>{{Glucose}}</p>
<h2>BloodPressure</h2>
<p>{{BloodPressure}}</p>
<h2>SkinThickness</h2>
<p>{{SkinThickness}}</p>
<h2>Insulin</h2>
<p>{{Insulin}}</p>
<h2>BMI</h2>
<p>{{BMI}}</p>
<h2>Result</h2>
<p>{{Result}}</p>
</body>
</html>